@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Carter+One&family=Oswald:wght@200..700&display=swap');
#titulo{
	display:flex;
}
#titulo img{
	width:120px;
	margin-left:35%;
}
#titulo h1{
	padding-top:20px;
	font-family:"Trebuchet MS", sans-serif;
}
#memoria{
	font-family:"Oswald",sans-serif;
	font-weight:bold;
	font-size:20px;
	margin:0;
}
main{
	padding-top:0px;
	display:flex;
	align-items:flex-start;
	gap:80px;
}
#risemode{
	width:60px;
	padding-top:10px;
	border:0px;
	margin-top:40px;
}
#ram{
	width:100%;
	max-width:400px;
	height: auto;
}
ul{
    padding-left:20px;	
}
li{
	font-family:"Elms Sans",sans-serif;
	font-size:15px;
	margin-top:10px;
}
li:first-line{
	text-transform:uppercase;
	font-weight:800;
}
.compra{
	border: 1px solid #686868;
	height:300px;
	width:400px;
	align-self:center;
	border-radius:20px;
	display:flex;
    flex-direction:column;
	align-items:center;
	
}
h2{
	color:#FF5C00;
	font-family:"Alfa Slab One", sans-serif;
	letter-spacing:2px;
	margin: 20px 0px 0px 0px;
}
span{
	font-family:"Carter One", sans-serif;
	font-weight:bold;
	font-size:14px;
}
span:first-line{
	font-weight:normal;
}
#butao{
	text-align:center;
	cursor:pointer;
	border-radius:20px;
	height:40px;
	width:100%;
	font-size:30px;
	background-color:orange;
	border: orange;
}
#butao:hover{
    filter: brightness(0.85)
}
#carrinho{
	text-align:center;
	cursor:pointer;
	border-radius:20px;
	height:40px;
	width:100%;
	font-size:30px;
	background-color:#B1D4E2;
	border: 0px;
    margin-top:5px;
	display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}
#carrinho:hover{
	 filter: brightness(0.85)
}
#carro{
	width:30px;
	margin-left:px;
}
#textinhochato{
	margin-left:10px;
	font-weight:bold;
}
#butao span{
	font-size:23px;
	font-weight:normal;
}
